<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.be.textbe.bttrace.resource.btt.mopp.BttMetaInformation" id="org.be.textbe.bttrace.resource.btt.mopp.BttMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.bttrace.resource.btt.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.bttrace.resource.btt.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.bttrace.resource.btt.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.bttrace.resource.btt.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.be.textbe.bttrace.resource.btt.problem">
		</super>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.nature" name="btt nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.be.textbe.bttrace.resource.btt.mopp.BttNature">
			</run>
		</runtime>
		<builder id="org.be.textbe.bttrace.resource.btt.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.be.textbe.bttrace.resource.btt.builder" name="btt Builder">
		<builder hasNature="true">
			<run class="org.be.textbe.bttrace.resource.btt.mopp.BttBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.be.textbe.bttrace.resource.btt.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.be.textbe.bttrace.resource.btt.mopp.BttResourceFactoryDelegator" type="btt">
		</parser>
	</extension>
	
	<extension-point id="org.be.textbe.bttrace.resource.btt.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.be.textbe.bttrace.resource.btt.debug.BttLineBreakpoint" id="org.be.textbe.bttrace.resource.btt.debug.breakpoint" markerType="org.be.textbe.bttrace.resource.btt.debug.lineBreakpoint.marker" name="btt Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.be.textbe.bttrace.resource.btt.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.be.textbe.bttrace.resource.btt.ui.launchConfigurationType" delegate="org.be.textbe.bttrace.resource.btt.launch.BttLaunchConfigurationDelegate" modes="run,debug" name="btt Application" sourceLocatorId="org.be.textbe.bttrace.resource.btt.ui.sourceLocator" sourcePathComputerId="org.be.textbe.bttrace.resource.btt.ui.sourcePathComputer" delegateName="btt Launch Tooling" delegateDescription="This will run or debug .btt files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.be.textbe.bttrace.resource.btt.debug.BttSourcePathComputerDelegate" id="org.be.textbe.bttrace.resource.btt.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.be.textbe.bttrace.resource.btt.ui.sourceLocator" class="org.be.textbe.bttrace.resource.btt.debug.BttSourceLocator" name="btt Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
